<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <dataConfiguration defaultDatabase="TWS" />
  <connectionStrings>
    <add name="TWS" connectionString="Data Source=192.168.10.233;Initial Catalog=NikeWMS;uid=sa;Password=M5l4d4s3;" providerName="System.Data.SqlClient" />
    <!--<add name="ConStr" connectionString="Data Source=192.168.10.233;Initial Catalog=NikeWMS;uid=sa;Password=M5l4d4s3;" providerName="System.Data.SqlClient" />-->
    <add name="ConStr" connectionString="Data Source=sh-mssql-mfa4lxt0.sql.tencentcdb.com,22719;Initial Catalog=NIKEWMSSDC;uid=hongdiad;Password=RunBow-it@#;" providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <!--<appSettings>
    <add key="ConStr" value="server=192.168.10.233;uid=sa;pwd=M5l4d4s3;database=NikeWMS"/>
  </appSettings>-->
</configuration>